/Library/
/Temp/
/obj/
/.vs/
/Logs/
/Build/
/UserSettings/
/Assets/AddressableAssetsData/Windows/
/Assets/AddressableAssetsData/Windows.meta
/ServerData/
*.unityproj
/*.sln
/*.csproj
/*.idea
/Game/
/Prefs/
/Rom/
/Report/